<div class="-mt-18 min-h-screen pt-26 -mb-1 bg-gray-100">
  <div class="max-w-7xl mx-auto bg-white p-6 rounded-xl shadow-md h-200">

    <h2 class="text-2xl font-semibold mb-6 text-gray-800">Control de Polladas</h2>

    <!-- Filtros -->
    <div class="flex w-full gap-6 mb-6 md:flex-wrap">
      <div class="flex items-center gap-2 flex-1">
        <label for="filter-name" class="mb-1 text-sm font-medium text-gray-700 whitespace-nowrap w-20">Nombre:</label>
        <input id="filter-name" type="text" placeholder="Nombre"
          class="w-full px-4 py-2 border rounded-lg focus:ring focus:ring-blue-400 focus:outline-none">
      </div>
      <div class="flex items-center gap-2 flex-1">
        <label for="filter-estado" class="text-sm font-medium text-gray-700 whitespace-nowrap w-20">Estado:</label>
        <select id="filter-estado"
          class="w-full px-4 py-2 border rounded-lg focus:ring focus:ring-blue-300 focus:outline-none">
          <option value="">Todos</option>
          <option value="completado">Completado</option>
          <option value="pendiente">Pendiente</option>
        </select>
      </div>
    </div>

    <!-- Tabla -->
    @if(customers.isLoading()) {
    <div class="flex justify-center items-center h-screen">
      <span class="loading loading-dots loading-xl text-neutral"></span>
    </div>
    }

    @if(customers.hasValue()) {
    <div class="overflow-x-auto rounded-lg border  shadow-sm">
      <table class="min-w-full divide-y divide-stone-400">
        <thead>
          <tr>
            <th class="py-3">Nombre</th>
            <th class="py-3">Apellido</th>
            <th class="py-3">Cantidad</th>
            <th class="py-3">Recojo</th>
            <th class="py-3">Falta</th>
            <th class="py-3">Cancelado</th>
            <th class="py-3">Debe</th>
            <th class="py-3">Total</th>
            <th class="py-3">Acción</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-400">
          @for(customer of customers.value(); track customer._id){
          <tr class="text-center">
            <td class="px-2 py-1 text-base ">{{customer.name}}</td>
            <td class="px-2 py-1 text-base">{{customer.lastname}}</td>
            <td class="px-2 py-1 text-base">{{customer.quantity}}</td>
            <td class="px-2 py-1 text-base text-green-600 font-semibold">{{customer.collectedChicken}}</td>
            <td class="px-2 py-1 text-base text-red-500 font-semibold">{{customer.remainingChicken}}</td>
            <td class="px-2 py-1 text-base text-gray-500">{{customer.paidChicken}}</td>
            <td class="px-2 py-1 text-base text-red-700">{{customer.owedChicken}}</td>
            <td class="px-2 py-1 text-base font-bold text-gray-950">{{customer.quantity * 15}}</td>
            <td class="px-2 py-1">
              <button class="text-blue-600 hover:text-blue-800 transition" (click)="goToEditCustomer(customer)">
                <i class='bx bx-edit text-xl'></i>
              </button>
            </td>
          </tr>
          }

        </tbody>


      </table>

    </div>
    }





  </div>

</div>