<div
  class="fixed left-0 top-0 w-64 h-full bg-[#f8f4f3] p-4 z-50 sidebar-menu transition-transform border-r border-gray-200 md:translate-x-0 -translate-x-full">
  <a routerLink="/dashboard" class="flex items-center pb-4 border-b border-b-gray-800">
    <h2 class="font-bold text-2xl">Pollada <span class="bg-[#f84525] text-white px-2 rounded-md">Julita</span></h2>
  </a>
  <ul class="mt-4">
    <span class="text-gray-400 font-bold">Control</span>
    <li class="mb-1">
      <a routerLink="/dashboard"
         routerLinkActive="bg-gray-800 text-white rounded-md"
         class="flex font-semibold items-center py-2 px-4 text-gray-900 hover:bg-gray-950 hover:text-gray-100 rounded-md">
        <i class="ri-home-2-line mr-3 text-lg"></i>
        <span class="text-sm">Dashboard</span>
      </a>
    </li>

    <!--Registro-->
    <li class="mb-1"
        routerLinkActive="active"
        #rla="routerLinkActive"
        [routerLinkActiveOptions]="{ exact: false }">
      <a (click)="toggleMenu()"
         [class.bg-gray-800]="rla.isActive"
         [class.text-white]="rla.isActive"
         class="flex items-center px-4 py-2 font-semibold text-gray-900 rounded-md hover:bg-gray-950 hover:text-gray-100">
        <i class='bx bx-user mr-3 text-lg'></i>
        <span class="text-sm">Registro</span>
        <i class="ri-arrow-right-s-line ml-auto" [ngClass]="{ 'rotate-90': listRegister }"></i>
      </a>
      @if (listRegister) {
        <ul class="list-none mt-2">
          @for (route of registerRoute; track route) {
            <li class="mb-4">
              <a [routerLink]="['/register', route.path]"
                 routerLinkActive="bg-gray-400 text-gray-100 rounded-md w-50 text-white"
                 class="text-gray-900 text-sm flex items-center hover:text-[#f84525] pl-7 hover:w-50 hover:bg-gray-400 hover:rounded-md before:contents-[''] before:w-1 before:h-1 before:rounded-full before:bg-gray-300 before:mr-3">{{ route.data?.['description'] }}</a>
            </li>
          }
        </ul>
      }
    </li>

    <!--Busqueda -->
    <li class="mb-1">
      <a routerLink="/searchClient"
         routerLinkActive="bg-gray-800 text-white rounded-md"
         class="flex font-semibold items-center py-2 px-4 text-gray-900 hover:bg-gray-950 hover:text-gray-100 rounded-md">
        <i class='bx bx-list-ul mr-3 text-lg'></i>
        <span class="text-sm">Busqueda</span>
      </a>
    </li>
  </ul>
</div>
<div class="fixed top-0 left-0 w-full h-full bg-black/50 z-40 md:hidden sidebar-overlay"></div>
